<a href="https://colab.research.google.com/github/0o0liver/Going_Back_to_Work/blob/master/datasets/generate_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#This notebook only shows result in dataframes, it does not produce any data file.

# Install dependencies

In [0]:
# Install spark-related dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install pyspark

# Set up required environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

import findspark
findspark.init("spark-2.4.5-bin-hadoop2.7")
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Data download

In [0]:
# 2010 data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-01.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-02.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-03.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-04.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-05.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-06.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-07.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-08.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-09.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-10.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-11.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2010-12.csv -P data
# 2011 data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-01.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-02.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-03.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-04.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-05.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-06.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-07.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-08.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-09.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-10.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-11.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2011-12.csv -P data
# 2012 data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-01.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-02.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-03.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-04.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-05.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-06.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-07.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-08.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-09.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-10.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-11.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2012-12.csv -P data
# 2013 data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-01.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-02.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-03.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-04.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-05.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-06.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-07.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-08.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-09.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-10.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-11.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2013-12.csv -P data
# 2014 data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-01.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-02.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-03.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-04.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-05.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-06.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-07.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-08.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-09.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-10.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-11.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2014-12.csv -P data
# 2015 data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-01.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-02.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-03.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-04.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-05.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-06.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-07.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-08.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-09.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-10.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-11.csv -P data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-12.csv -P data

In [0]:
trips = spark.read.format("csv").options(header="true").load("/content/data")

# Library import

In [0]:
from geopy.geocoders import Nominatim
import pyspark.sql.functions as F
from pyspark.sql.types import *

# Execution

In [0]:
# geo locator agent
geolocator = Nominatim(user_agent = "going_bakc_to_work")

In [6]:
# global variables
query_addr = "200 west street nyc"
target_location = geolocator.geocode(query_addr)
target_box = list(map(float, target_location.raw["boundingbox"]))
start_lat = min(target_box[0], target_box[1])
end_lat = max(target_box[0], target_box[1])
start_lng = min(target_box[2], target_box[3])
end_lng = max(target_box[2], target_box[3])

# functions
def filter_location(lat, lng):
	'''
	check if location in in target_box
	'''
	if start_lat <= float(lat) and float(lat) <= end_lat and start_lng <= float(lng) and float(lng) <= end_lng:
		return True
	return False

# main
filter_function = F.udf(filter_location, BooleanType())

complete_result_df = trips.filter(filter_function(trips["dropoff_latitude"], trips["dropoff_longitude"])).select("dropoff_datetime", "dropoff_latitude", "dropoff_longitude")

complete_result_df.show()

+-------------------+------------------+-------------------+
|   dropoff_datetime|  dropoff_latitude|  dropoff_longitude|
+-------------------+------------------+-------------------+
|2010-01-28 06:34:03|40.714632999999999|-74.013970999999998|
|2010-01-07 07:58:00|40.715248000000003|-74.014277000000007|
|2010-01-29 07:02:00|40.714512999999997|-74.014262000000002|
|2010-01-20 07:17:16|40.714613999999997|-74.013966999999994|
|2010-01-13 07:33:00|40.715119999999999|-74.014781999999997|
|2010-01-25 06:59:23|40.714477000000002|-74.014071000000001|
|2010-01-24 18:18:23|40.714978000000002|         -74.014032|
|2010-01-04 06:29:59|40.714592000000003|-74.014331999999996|
|2010-01-18 19:17:00|40.714517999999998|-74.014120000000005|
|2010-01-05 05:16:00|40.714877000000001|-74.013975000000002|
|2010-01-29 11:54:00|40.714252000000002|-74.014726999999993|
|2010-01-28 09:35:00|40.714194999999997|-74.014690000000002|
|2010-01-21 07:30:08|40.714494000000002|-74.014020000000002|
|2010-01-29 09:55:00|40.714244999999998|         -74.014657|
|2010-01-04 12:45:00|40.714196999999999|-74.014752000000001|
|2010-01-12 14:15:30|40.714953000000001|-74.013966999999994|
|2010-01-14 07:32:00|40.714422999999996|-74.014004999999997|
|2010-01-13 11:43:00|40.714281999999997|-74.014903000000004|
|2010-01-28 09:15:00|40.715057999999999|         -74.014882|
|2010-01-29 08:56:25|40.714154000000001|         -74.014668|
+-------------------+------------------+-------------------+
only showing top 20 rows